.art2 {
  padding-bottom: 12px;
}

.articleblue {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid var(--Blue, #279ef8);
  text-align: start;
  background: var(--Background);
}
.articlered {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid var(--Red, #f82727);
  background: var(--Background);
  text-align: start;
}
.articleyellow {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid var(--Yellow, #f8af27);
  background: var(--Background);
}
.panthéons {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}
.articlegreen {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid var(--Green, #12965d);
  background: var(--Background);
  text-align: start;
}
.galerie-img {
  background-image: url(../../img/imgc/athena.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-mars {
  background-image: url(../../img/imgc/mars.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-ra {
  background-image: url(../../img/imgc/ra.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-freya {
  background-image: url(../../img/imgc/freya.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-loki {
  background-image: url(../../img/imgc/loki.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-fortuna {
  background-image: url(../../img/imgc/fortuna.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-artemis {
  background-image: url(../../img/imgc/artemis.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-anubis {
  background-image: url(../../img/imgc/anubis.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-zeus {
  background-image: url(../../img/imgc/zeus.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-lucifer {
  background-image: url(../../img/imgc/lucifer.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-hel {
  background-image: url(../../img/imgc/hel.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-isis {
  background-image: url(../../img/imgc/isis.png);
  height: 216px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galerie-title {
  background-color: var(--background-main);
}
.galerie-freya svg {
  align-self: flex-end;
}
.galerie-ra svg {
  align-self: flex-end;
  padding-right: 10px;
}
.galerie-img svg {
  align-self: flex-end;
}
.galerie-mars svg {
  align-self: flex-end;
}
.galerie-loki svg {
  align-self: flex-end;
}
.galerie-fortuna svg {
  align-self: flex-end;
}
.galerie-artemis svg {
  align-self: flex-end;
}
.galerie-zeus svg {
  align-self: flex-end;
}
.galerie-lucifer svg {
  align-self: flex-end;
}
.galerie-hel svg {
  align-self: flex-end;
}
.galerie-isis svg {
  align-self: flex-end;
}
.galerie-title-blue {
  color: var(--Blue);
  padding: 8px 12px;
  background-color: var(--background-main);
  font-family: "Caesar Dressing";
}
.galerie-title-red {
  color: var(--Red);
  background-color: var(--background-main);
  padding: 8px 12px;
  font-family: "Caesar Dressing";
}
.galerie-title-yellow {
  color: var(--Yellow);
  background-color: var(--background-main);
  padding: 8px 12px;
  font-family: "Caesar Dressing";
}
.galerie-title-green {
  color: var(--Green);
  background-color: var(--background-main);
  padding: 8px 12px;
  font-family: "Caesar Dressing";
}
.art1 {
  padding-left: 12px;
}
.art2 {
  padding-left: 12px;
}
.panthéons {
  padding-right: 10px;
}
